.chat-thread {
  height: 500px;
  margin: 24px auto 0px auto;
}

.show-options {
  margin-bottom: 20px;
  width:100%;
}

.show-options option {
  width: 100%;
  margin: 10px;
}

.chat-window-message {
  background-color: #0af7ff14;
}

#enter_msg_chat {
  padding: 15px;
  font-size: 120%;
}

#btn-order {
  width: 90%;
  background-color: #136889;
  border-color: #136889;
  margin-top: 20px;
  margin-bottom: 5px;
}

#btn-order :hover {
  background-color: #07435a;
  border-color: #07435a;
}

@media (min-width: 767px) and (max-width: 1290px){
  #btn-order {
    width: 50%;
  }
}

@media (max-width: 767px)
{
  .chat-window {
    width: 90%;
  }

  #btn-order {
    width: 70%;
  }
}

@media (max-width: 400px){
  h4 {
    font-size: 1.3rem;
  }
}

#modalBody img {
  width: 100%;  
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}