.chat-thread {
  width: 100%;
  height: 500px;
  margin: 24px auto;
}

.chat-thread li:nth-child(even):before {
  left: -80px;
  background-image: url('../img/robot.jpg');
}

.chat-thread li:nth-child(odd):before {
  right: -80px;
  background-image: url('../img/user.jpg');
}

#show-options {
  width:100%;
}

#show-options option{
  width: 100%;
  margin: 10px;
}