.chat-thread {
  height: 500px;
  margin: 24px auto;
}

.chat-thread li:nth-child(even):before {
  left: -80px;
  background-image: url('../img/robot.jpg');
}

.chat-thread li:nth-child(odd):before {
  right: -80px;
  background-image: url('../img/user.jpg');
}

.show-options {
  margin-bottom: 20px;
  width:100%;
}

.show-options option {
  width: 100%;
  margin: 10px;
}

.chat-window-message {
  background-color: #0af7ff14;
}

#enter_msg_chat {
  padding: 15px;
  font-size: 120%;
}

#btn-order {
  width: 90%;
  background-color: #136889;
  border-color: #136889;
}

#btn-order :hover {
  background-color: #07435a;
  border-color: #07435a;
}

@media (min-width: 767px){
  #btn-order {
    width: 50%;
  }
}